* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ninoMtavruli;
    src: url('../../fonts/bpg_nino_mtavruli_normal.ttf');
}

.steps {
    width: 100%;
    position: relative;
}

.steps img {
    width: 100%;
    object-fit: cover;
}

.steps h1  {
    position: absolute;
    color: #000000;
    width: 30%;
    height: 50%;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 200;
    left: 40%;
    top: 4%;
    font-family: ninoMtavruli;
    font-family: 200;
    overflow-x: auto;
}